@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1761046039266') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 去下划线 */
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.iconfont:checked{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.icon-weixin:before {
  content: "\f0106";
}

.icon-chunvzuo:before {
  content: "\e637";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-Bzhan:before {
  content: "\ea4a";
}

